@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #222831;
}

header {
  background-color: #393e46;
  padding: 20px;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

div h2 {
  color: #00fff5;
  font-size: small;
  padding: 5px;
}

#navbar_div {
  display: flex;
  align-items: center;
}

#navbar_ul-responsive {
  display: none;
}
#navbar_ul {
  display: flex;
  align-items: center;
  gap: 2px;
  list-style: none;
}

.navbar_li {
  display: flex;
  padding: 12px;
}

a:hover {
  color: #00fff5;
}

@media screen and (max-width: 508px) {
  #navbar_ul {
    display: none;
  }
  #navbar_ul-responsive {
    display: flex;
    flex-direction: column;
  }
}
